<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <extensions>
    <add assembly="BrowserLog.NLog"/>
  </extensions>
  
  <targets>
    <target 
      xsi:type="ColoredConsole" 
      name="ConsoleTarget" 
      layout="${date} [${threadid}] ${uppercase:${level}} ${logger} ${ndc} - ${message}${newline} "/>
    
    <target 
      name="BrowserTarget" 
      type="BrowserConsole" 
      Active="true" 
      Buffer="100"
      Port="8083"
      layout="${date} [${threadid}] ${uppercase:${level}} ${logger} ${ndc} - ${message}${newline}" />
   
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="ConsoleTarget" />
    <logger name="*" minlevel="Debug" writeTo="BrowserTarget" />

  </rules>
</nlog>